# 1. Create the rm alias
alias --save rm '/home/lewis/.local/bin/trash'

# 2. Create the sudo wrapper function
function sudo --on-event fish_prompt
    function sudo
        if test "$argv[1]" = "rm"
            command sudo /home/lewis/.local/bin/trash $argv[2..-1]
        else
            command sudo $argv
        end
    end
end
funcsave sudo
